
    body {
        font-family: 'Gowun Dodum', sans-serif;
        background-color: #EAEDF8;
        margin: 0;
    }

    .footer {
        padding: 100px;
        text-align: center;
        background-color: #343434;
        color: white;
        margin-top: 300px;
    }

    .main {
        display: flex;
    }

    .menu {
        width: 20%;
        background-color: #746CF5;
        margin-right: 32px;
        padding-top: 150px;
        height: 100vh;
    }

    .menu a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 8px;
        display: flex;
        align-items: center;
    }

    .menu img {
        margin-right: 8px;
    }

    .menu a:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .content {
        width: 80%;
        margin-top: 120px;
        margin-right: 32px;
        background-color: white;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .menubar {
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 80px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
    }

    .avatar {
        border-radius: 100%;
        background-color: rgb(205, 138, 50);
        padding: 16px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
    }

    .myname {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }

    .card {
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 16px;
        border-radius: 8px;
        padding: 8px;
        padding-left: 64px;
        position: relative;
    }

    .profile-picture {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid white;
        position: absolute;
        left: 8px;
    }

    .schalteralign {
        display: flex;
    }

    .ersterbtn {
        background-color: #999900;
        padding: 4px;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        position: relative;
        top: 0px;
        width: 60px;
        right: 0px;
    }        
    
    .ersterbtn:hover {
        background-color: #FF3333;
    }

    .icon-weather {
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-left: 6px;
    }
